* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

:root {
  /* Primary */
  --Marine: hsl(213, 96%, 18%);
  --Purplish-blue: hsl(243, 100%, 62%);
  --purplish-blue-lg: hsl(243, 100%, 71%);
  --Pastel-blue: hsl(228, 100%, 84%);
  --Light-blue: hsl(206, 94%, 87%);
  --Strawberry-red: hsl(354, 84%, 57%);
  --m-blue: hsl(213, 53%, 40%);

  /* Neutral*/
  --Cool-gray: hsl(231, 11%, 63%);
  --Light-gray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);

  /* Font size */
  --Font-size: 1rem;
  --Font-size-medium: 10px;
  --font-size-small: 8px;

  /* Border radius*/
  --border-radius: 10px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: var(--Font-size);
  background-color: var(--Magnolia);
  position: relative;
  font-family: 'Ubuntu', sans-serif;
}

/* Inherit fonts for inputs and buttons */
input,
button {
  font: inherit;
}

/* remove default list style */
li {
  list-style: none;
}

.main-wrapper {
  width: 100%;
  margin: 4% 15%;
  min-width: 768px;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 3fr 7fr;
  grid-template-rows: 5fr 1fr;
  background-color: var(--White);
  border-radius: var(--border-radius);
  height: 80%;
}

@media (max-width: 768px) {
  body {
    display: block;
  }
  .main-wrapper {
    min-width: initial !important;
    max-width: initial !important;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    margin: 0 0;
    background-color: var(--Marine-blue);
  }
}

/* 
/* HIDE PAGE */
.form {
  display: none;
}

/* SHOW ACTIVE PAGE */
.form.active {
  display: inline-block;
}

/* Steps CSS start here*/

.steps__container {
  /* height: 100%; */
  border-radius: var(--border-radius);
  grid-column: 1/2;
  grid-row: 1/-1;
  background: url('./assets/images/bg-sidebar-desktop.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 30px 20px;
  margin: 0.8rem;
}

.steps {
  display: flex;
  align-items: center;
  height: 70px;
}

.steps .title {
  font-size: var(--font-size-small);
  text-transform: uppercase;
}

.steps p {
  margin: 0 !important;
}

.steps .subtitle {
  color: var(--Cool-gray);
  font-size: 6px;
  /* font-weight: 400; */
}

.steps .title {
  color: var(--White);
  font-weight: 500;
}

.circle {
  border: 1px solid var(--Light-gray);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--Light-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  margin-right: 15px;
}

/* ACTIVE STEP NUMBER */
.circle.active {
  background-color: var(--Light-blue);
  color: var(--Marine-blue);
}

@media (max-width: 768px) {
  .steps__container {
    border-radius: 0;
    background-image: url('./assets/images/bg-sidebar-mobile.svg');
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 190px;
    margin: 0;
    position: relative;
  }

  .steps {
    padding: 0;
  }

  .steps > .info {
    display: none;
  }

  .steps > .circle {
    margin: 0 10px;
  }
}
/* Steps CSS end here*/

/* Form page-1 CSS begins here*/
.form__container {
  overflow: hidden;
  grid-column: 2/3;
  grid-row: 1/2;
  padding-top: 20px;
  padding-right: 10px;
  color: var(--Marine);
}

.form {
  height: 100%;
  width: 100%;
  padding: 4% 11%;
  overflow: hidden;
}

.form-control {
  margin-left: 0;
  cursor: pointer;
  color: var(--Marine);
  box-shadow: none !important;
}

/* input label div for label and waring*/

/* label text */
.form-label {
  color: var(--Marine-blue);
  font-weight: 500;
}

.label {
  display: flex;
  justify-content: space-between;
}
/* input warning */
.warning {
  color: var(--Strawberry-red);
  font-weight: 500;
  font-size: var(--font-size-small);
}

.form-control:hover {
  border: 1.5px solid var(--Purplish-blue);
  transition: 0.25s;
}

.form-control.error,
.form-control.error:hover {
  border-color: var(--Strawberry-red);
  transition: 0.25s;
}

.description {
  color: var(--Cool-gray);
  font-size: var(--font-size-small);
}

@media (max-width: 768px) {
  .form__container {
    width: 96%;
    padding: 0;
    position: absolute;
    overflow: visible;
    top: 190px;
    left: 2%;
  }
  .form {
    width: 100%;
    background-color: var(--White);
    margin-top: -70px;
    border-radius: 10px;
    padding: 20px 15px;
  }

  .toggle__container {
    margin-top: 1rem !important;
  }
}
/* form page-1 CSS end */

/* select your plan | step2 */

/* select plan warning */
#select-plan-error {
  color: var(--Strawberry-red);
  font-weight: 500;
  text-align: center;
  height: 20px;
  margin-bottom: 5px;
}

/* form page-2 css begin here */
#page__2 .description {
  margin-bottom: 2rem;
}

.plan__card {
  border: 1px solid var(--Light-gray);
  border-radius: var(--border-radius);
  width: 30%;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 10px;
}

.plan__card p {
  margin-bottom: 0 !important;
}

.plan__card img {
  height: 2rem;
  width: 2rem;
}

.yearly__benefit {
  color: var(--Marine-blue);
  font-size: var(--font-size-small);
  font-weight: 400;
  display: none;
}

.yearly__benefit.show {
  display: inline-block;
}

.card__price {
  color: var(--Cool-gray);
  font-weight: 500;
  font-size: 0.5rem;
}

.card-title {
  color: var(--Marine-blue);
  font-weight: 700;
  font-size: 0.5rem;
}

.card-img-top {
  margin-bottom: 2rem;
}

.card__description {
  color: var(--Cool-gray);
  font-weight: 500;
}

.plan__cards_container {
  display: flex;
  /* flex-direction: row; */
}

@media (max-width: 768px) {
  .plan__cards_container {
    display: flex;
    flex-direction: column;
  }
  .plan__card {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
  .card-img-top {
    margin: 0;
    margin-right: 1rem;
  }
}

/* Toggle CSS start*/
.toggle__container {
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  background-color: var(--Magnolia);
  font-weight: 700;
  font-size: var(--font-size-small);
  margin-top: 1rem;
}

.toggle__container > p {
  color: var(--Marine-blue);
  font-weight: 500;
  margin-bottom: 0 !important;
}

#monthly {
  margin-right: 1rem;
}

#yearly {
  margin-left: 1rem;
}

.toggle {
  width: 40px;
  height: 20px;
  border-radius: 15px;
  margin: 5px 0;
  background-color: var(--Marine);
  display: flex;
  align-items: center;
  margin: 0 12px;
  transition: 0.25s;
  cursor: pointer;
}

.toggle__circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 0 2px;
  background-color: var(--White);
}

/* add functionality to toggle */
.toggle.active {
  justify-content: flex-end;
}
.monthly__plan {
  opacity: 0.5;
}
.yearly__plan {
  opacity: 0.5;
}
.selected__plan {
  opacity: 1;
}

@media (max-width: 768px) {
  .plan__card {
    padding: 25px;
  }
  .addon__card {
    min-height: 90px;
  }
}

.plan__card:hover {
  border: 2px solid var(--Purplish-blue);
}

.plan__card.selected {
  background-color: var(--Magnolia);
  border: 2px solid var(--Purplish-blue);
}
/* Toggle CSS end*/
/* Page-2 CSS end here */

/* Page-3 CSS begin here */
.addon__card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: var(--border-radius);
  border: 1px solid var(--Light-gray);
  flex-basis: 40%;
  margin: 1rem;
  height: 4.2rem;
}

.card__text {
  font-size: var(--Font-size-medium);
}

.addon__card p {
  margin-bottom: 0 !important;
  font-size: var(--font-size-small);
}

.addon__card:hover {
  border: 2px solid var(--Purplish-blue);
}

.addon__card.selected {
  background-color: var(--Magnolia);
  border: 2px solid var(--Purplish-blue);
}

.checkbox,
.card__text {
  margin-left: 1rem;
}

.card__name {
  font-weight: 700;
}

.card__text {
  flex-grow: 1;
}

.plan__cost {
  margin-right: 1rem;
}

/* checkbox */
.checkbox[type='checkbox'] {
  margin-right: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: none;
  font: inherit;
  color: none;
  width: 1.2em;
  height: 1.2em;
  border: 0.15em solid var(--Light-gray);
  cursor: pointer;
  border-radius: 0.2em;
  transform: translateY(-0.075em);
  /*center*/
  display: grid;
  place-content: center;
}

/* checkbox hover only for big screen */
@media (min-width: 480px) {
  .checkbox[type='checkbox']:hover {
    border-color: var(--Marine-blue);
    transition: 0.25s;
  }
}

/* checkbox checked */
.checkbox[type='checkbox']:checked {
  border-color: var(--Purplish-blue);
  background-color: var(--Purplish-blue);
}

.checkbox[type='checkbox']::before {
  content: '';
  width: 1em;
  height: 1em;
  box-shadow: inset 1em 1em var(--White);
  transform-origin: bottom left;
  -webkit-clip-path: polygon(
    14% 44%,
    0 65%,
    50% 100%,
    100% 16%,
    80% 0%,
    43% 62%
  );
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transition: 120ms transform ease-in-out;
  transform: scale(0);
}

.checkbox[type='checkbox']:checked::before {
  transform: scale(1);
}

/* Page-3 CSS end here */

/* Page-4 CSS begin here*/
.finishingup__card_container {
  background-color: var(--Magnolia);
  border-radius: var(--border-radius);
  border: none;
  padding: 10px 25px;
  cursor: auto;
  /* height: 12rem; */
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
}
ol,
ul {
  padding-left: 0;
}

/* selected plan */

#selected__plan {
  display: flex;
  align-items: center;
  color: var(--Marine-blue);
  font-weight: 700;
  font-size: var(--Font-size-medium);
  padding-top: 10px;
}

#selected__plan p,
#selected-addon p {
  margin-bottom: 0 !important;
}

#selected__plan > p:nth-child(3) {
  margin-left: auto;
}

#selected__plan > p:nth-child(2) {
  margin-left: 4px;
}

/* selected add-on */
#selected-addon > li {
  display: flex;
  align-self: center;
  justify-content: space-between;
  /* padding-bottom: 20px; */
  font-size: var(--font-size-small);
  font-weight: 500;
  margin-bottom: 1rem;
}

/* add border to the first child of li */
#selected-addon > li:nth-child(1) {
  border-top: 1px solid var(--Cool-gray);
  padding-top: 20px;
}

#selected-addon > li > p:nth-child(1) {
  color: var(--Cool-gray);
}

#selected-addon > li > p:nth-child(2) {
  color: var(--Marine-blue);
}

/* change plan button */
.change__plan {
  border: none;
  background-color: transparent;
  font-size: var(--font-size-small);
  color: var(--Cool-gray);
  text-decoration: underline;
  cursor: pointer;
  transition: 0.25s;
  margin-bottom: 1rem;
}

.change__plan:hover {
  color: var(--Purplish-blue);
}

/* total price */
#total {
  /* margin-top: 2rem; */
  display: flex;
  justify-content: space-between;
  padding: 10px 25px;
}

#total > span:nth-child(1) {
  color: var(--Cool-gray);
  font-size: 1rem;
}

#total > span:nth-child(2) {
  color: var(--Purplish-blue);
  font-size: 1rem;
  font-weight: 700;
}

@media (max-width: 481px) {
  #total > span:nth-child(2) {
    font-size: 1rem;
  }
}

/* Page-4 CSS end here */

/*  last step | thank you */
#thank-you {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  /* gap: 1rem; */
}

.title__page4 {
  margin-top: 2rem;
}

#thank-you .description {
  text-align: center;
  font-size: var(--Font-size);
}

@media (max-width: 768px) {
  #thank-you {
    margin-top: -4rem;
    padding: 6rem;
  }
}

/* last step | thank you */

/* Buttons CSS begins here */
#buttons .btn {
  height: 2.2rem;
  width: 7rem;
  margin: 5% 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: var(--Font-size);
}

#buttons .btn-primary {
  background-color: var(--Marine);
}

#buttons .btn-secondary {
  background-color: var(--White);
  color: var(--Cool-gray);
  border: none;
}

#buttons .btn-primary:hover {
  background-color: var(--m-blue);
  transition: ease-in-out 4ms;
}

#buttons .btn-secondary:hover {
  color: var(--Marine);
  font-weight: 500;
  transition: ease-in-out 4ms;
}

.confirm-btn {
  background-color: var(--Purplish-blue);
  color: var(--White);
}

.confirm-btn:hover {
  background-color: var(--purplish-blue-lg);
  color: var(--White);
}

/* add hidden class to hide previous step button on the first step */
.btn.hidden {
  opacity: 0;
  cursor: auto;
}
/* add hidden class to hide button container */
.button__container.hidden {
  display: none;
}

@media (max-width: 768px) {
  .button__container {
    position: absolute;
    bottom: 0px;
    left: 0;
    background-color: var(--White);
    width: 100%;
    padding: 15px 10px;
  }

  #buttons .btn {
    height: 2.5rem;
    width: 6rem;
    border-radius: 3px;
    margin: 0 0;
    font-size: var(--font-size-small);
  }
}

/* Buttons CSS end here */
